[Desktop Entry]
Name=Simple-Scan
Comment=Activate SimpleScan
Exec=/usr/bin/simplescanner
Icon=/usr/share/simple-scan/simplescanlogo.png
Terminal=true
Type=Application
